<footer class="footer footer-center p-4 bg-base-300 text-base-content sticky bottom-0">
    <aside>
      <p>Copyright © 2023 - All right reserved by JanPol Industries Ltd</p>
    </aside>
  </footer>