<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57b30a4205.js" crossorigin="anonymous"></script>
  
    
</head>
<body>
    <div class="navbar bg-neutral">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl text-base-300 px-5" href="http://localhost:3000/userlist">User Database</a>
        </div>

        </div>
      </div>
</body>
</html>