
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
 
<body>
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <img src="/images/stock/photo-1635805737707-575885ab0820.jpg" class="max-w-sm rounded-lg shadow-2xl" />
          <div>
            <h1 class="text-5xl font-bold">Welcome to User Database</h1>
            <p class="py-6">Welcome to a powerful platform that 
                revolutionizes the way you manage user data. 
                Our User Database website is your gateway to 
                streamlined user interactions and personalized experiences.</p>
            <button class="btn btn-secondary"><a href="/userlist ">View Database</a></button>
        </div>
        </div>
      </div>
    
</body>
</html>

